<script>
	function initialize() {
	    var latlng = new google.maps.LatLng(40.740112,-73.990060);
	        var myOptions ={
	            zoom: 12,
	            center: {lat: 40.740112, lng: -73.990060},
	           panControl: true,
	             zoomControl: true,
	             size: (500,500)
	           };        
	        var map = new google.maps.Map(document.getElementById('map'),myOptions);
	        var myLatLng = {lat: 40.740112, lng: -73.990060};

	        var infowindow = new google.maps.InfoWindow();
	            var latitude =  myLatLng.lat;
	            var longitude=  myLatLng.lng;
	            
				var marker = new google.maps.Marker({
	            position: new google.maps.LatLng(40.749814, -73.983969),
	            map: map,
	            animation: google.maps.Animation.DROP
	            });

		};
	google.maps.event.addDomListener(window, "load", initialize);
</script>

<!-- weight page -->
<div class="black-bg">

  <div class="container hidden-xs no-gutter"> 
  <!--|____________| -->
    <div class="row no-gutter no-hugger">
      <div class="col-xs-12 text-center splash-bg no-gutter">	
		<div class="weight-top-banner text-center">
			<%= image_tag 'please_enter.png', width: 490, height: 20, alt: 'enter_weight'%>
		</div>
		<div class="weight-scale-bg">
			<div class="scale">
				<form action="" id="weight-input">
					<input type="password" name="password">
				</form>
				<%= image_tag 'scale2.png', width: 280, height: 295, alt: 'scale_img'%>
			</div>
		</div>
	  </div>
	</div>

	<div class="chart-bg">
		<canvas id="myChart" width="400" height="400"></canvas>
	</div>
	<div id="map"></div>
  </div>

</div>

